<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
            <!--<div class="col-lg-2 nopadding" style="background-color: #eff1f1; padding: 0px" >-->
                <!--<div style="margin-top: 20px; padding: 10px;" align="center">-->
                    <!--<button [routerLink]="['/', folderName , 'add' ]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">-->
                        <!--<div class="buttonDivBadge">-->

                        <!--</div>-->
                        <!--<div class="buttonDivText">-->
                            <!--<span class="sideButtonTextEmpty">הוסף מוצר חדש</span>-->
                        <!--</div>-->
                        <!--<div class="buttonDivIcon">-->
                            <!--<i class="fa fa-chevron-left"></i>-->
                        <!--</div>-->
                    <!--</button>-->

                    <!--<hr>-->
                      <!--<button [routerLink]="['/', 'subCategory' , 'index' , { id:Category}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                           <!--<div class="buttonDivText">-->
                               <!--<span class="sideButtonTextEmpty">חזרה לתת קטגוריות</span>-->
                           <!--</div>-->
                           <!--<div class="buttonDivIcon">-->
                               <!--<i class="fa fa-chevron-left"></i>-->
                           <!--</div>-->
                       <!--</button>-->
                    <!--&lt;!&ndash;-->
                                        <!--<button [routerLink]="['/', 'company' , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                                              <!--<div class="buttonDivBadge">-->
                                                  <!--<span class="pull-right badge sideButtonBadge" >-->
                                                  <!--<span class="badgeText">11</span></span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivText">-->
                                                  <!--<span class="sideButtonText">צפון</span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivIcon">-->
                                                  <!--<i class="fa fa-chevron-left"></i>-->
                                              <!--</div>-->
                                          <!--</button>-->

                                          <!--<button [routerLink]="['/', 'company' , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                                              <!--<div class="buttonDivBadge">-->
                                                  <!--<span class="pull-right badge sideButtonBadge" >-->
                                                  <!--<span class="badgeText">16</span></span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivText">-->
                                                  <!--<span class="sideButtonText">מרכז</span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivIcon">-->
                                                  <!--<i class="fa fa-chevron-left"></i>-->
                                              <!--</div>-->
                                          <!--</button>-->

                                          <!--<button [routerLink]="['/', 'company' , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                                              <!--<div class="buttonDivBadge">-->
                                                  <!--<span class="pull-right badge sideButtonBadge" >-->
                                                  <!--<span class="badgeText">6</span></span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivText">-->
                                                  <!--<span class="sideButtonText">דרום</span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivIcon">-->
                                                  <!--<i class="fa fa-chevron-left"></i>-->
                                              <!--</div>-->
                                          <!--</button> &ndash;&gt;-->

                <!--</div>-->
            <!--</div>-->
            <div class="col-lg-12 nopadding" style="margin-top: 10px;">
                        <div class="row" style="direction: rtl; margin-left:0%;">
                            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם מוצר" required (keyup)='updateFilter($event)'>
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding" style="margin-top: 26px !important;">
                                <button [routerLink]="['/', folderName , 'add' ,{sub:SubCatId}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                                    <div class="buttonDivBadge">

                                    </div>
                                    <div class="buttonDivText">
                                        <span class="sideButtonTextEmpty">הוסף</span>
                                    </div>
                                    <div class="buttonDivIcon">
                                        <i class="fa fa-plus "></i>
                                    </div>
                                </button>
                            </div>
                            <div class="col-lg-1 nopadding" style="margin-top: 26px;">
                                <button [routerLink]="['/', 'subCategory' , 'index' , { id:Category}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >
                                    <div class="buttonDivText">
                                        <span class="sideButtonTextEmpty">חזרה</span>
                                    </div>
                                    <div class="buttonDivIcon">
                                        <i class="fa fa-chevron-left"></i>
                                    </div>
                                </button>
                            </div>

                        </div>
                        <!--<div class="row" style="direction: rtl">-->
                            <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-info" [routerLink]="['/companies/create']">עסק חדש</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">-->
                                <!--<input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם מוצר" required (keyup)='updateFilter($event)'>-->
                            <!--</div>-->
                        <!--</div>-->
                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'falsey'"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [columnMode]="'force'"
                                [rows]="ItemsArray">

                            <!-- Column Templates -->

                            <ngx-datatable-column name="לוגו" [sortable]="false" [maxWidth]="180" >
                                <ng-template let-row="row" ngx-datatable-cell-template align="center">
                                    <div (click)="openDetailsModal(details, row)">
                                        <img [src]="row.FullPath" height="50" width="50" *ngIf="row.image !== ''">
                                        <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.image === ''">
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="שם"  [maxWidth]="180">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.title}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="קטגורייה" [sortable]="true"  [maxWidth]="180">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.CategoryName">{{row.CategoryName}}</strong>
                                    <strong *ngIf="!row.CategoryName">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="תת - קטגורייה" [sortable]="true"  [maxWidth]="180">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.SubCategoryName">{{row.SubCategoryName}}</strong>
                                    <strong *ngIf="!row.SubCategoryName">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="מחיר" [sortable]="true"  [maxWidth]="180">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.low_price">{{row.high_price}}</strong>
                                    <strong *ngIf="!row.low_price">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="פעולות" [sortable]="false" [minWidth]="300" style="direction: ltr !important; text-align: left !important;" align="left">
                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                    <button type="button" class="btn btn-info" (click)="openDetailsModal(details, row)">פרטים</button>
                                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: rowIndex}]">ערוך</button>
                                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>
                                    <button type="button" class="btn btn-info" [routerLink]="['/', 'productImages' , 'index' , { id: row.id , subCat:SubCatId}]">תמונות - {{row.ImageCount}}</button>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
            </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important;">מחק עסק</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right">בטוח שרוצה למחוק את העסק? מנהלים, קופונים, לידים, בנרים, דירוגים וביקורות שקשונים לעסק גם ימחקו.</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #details let-c="close" let-d="dismiss">
    <div style="width: 100%; margin-top: 20px;" align="center">
        <div style="width: 70%">
            <img src={{selectedItem.FullPath}} style="width: 70%" />
        </div>
    </div>
    <div>

    </div>
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right">{{selectedItem.title}}</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" style="direction: rtl">
        <div class="m-2">
            &nbsp;  
            תת-קטגורייה : {{selectedItem.SubCategoryName}}

        </div>

        <div class="m-2">
              מחיר חדש : {{selectedItem.high_price}}&nbsp;  | &nbsp;
             מחיר ישן : {{selectedItem.low_price}}
        </div>

        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="c()">סגור</button>
        </div>
    </div>
</ng-template>


































<!--<ngx-datatable
        class="fullscreen"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="0"
        [rowHeight]="70"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [rows]="ItemsArray">

  <ngx-datatable-column name="icons" >
    <ng-template let-column="column" ngx-datatable-header-template>
      actions
    </ng-template>
    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
      <i class="fa fa-close IconClass" style="" (click)="DeleteItem()"></i>
      <a [routerLink]="['/', 'company' , 'edit' , { id: rowIndex, foo: 'foo' }]" class="navigation-link relative"><i class="fa fa-edit IconClassMt3" ></i></a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Subdomain">
    <ng-template   ngx-datatable-header-template><span >Subdomain</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Phone">
    <ng-template   ngx-datatable-header-template><span >מספר טלפון</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="email" [width]="300" >
    <ng-template   ngx-datatable-header-template><span >אימייל</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Address" [width]="300" style="padding-top:30px !important;" >
    <ng-template   ngx-datatable-header-template><span >כתובת</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column  [width]="120" >
    <template let-row="row" let-value="value" ngx-datatable-cell-template>
      <img src="{{host}}{{row.logo}}" style="width:60px; height: 60px; margin-top: -13px;" />
    </template>
  </ngx-datatable-column>

</ngx-datatable> -->