<div class="main-div">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(f)" #f="ngForm" >



            <div class="row">

                <div class="form-group col-md-6" *ngFor="let row of rows let i=index">
                    <label class="col-form-label">הכנס {{rowsNames[i]}}</label>
                    <input class="form-control" formControlName="{{row}}" id="{{row}}"     type="text" required>
                </div>

            </div>

        <div class="row m-2">טקסט עמוד חברה</div>

        <div class="card">

            <div class="toolbar" id="toolbar-toolbar" dir="rtl" align="right">
                <span class="ql-formats">
                  <select class="ql-font">
                    <option selected=""></option>
                    <option value="serif"></option>
                    <option value="monospace"></option>
                  </select>
                  <select class="ql-size">
                    <option value="small"></option>
                    <option selected=""></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <select class="ql-align">
                    <option selected=""></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                </span>
            </div>
            <div id="editor-container" dir="rtl" align="right"></div>

        </div>




        <div class="form-group col-md-6" style="text-align: left !important;">
            <button [disabled]="!f.valid" type="submit"
                    class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>






