.FormClass
{
    text-align: right;
    direction: rtl;
}

.row
{
    margin-top: 20px;
}

.textWhite
{
    background-color: white;
}

input.ng-invalid.ng-touched
{
    border:1px solid red;
}

.company-media img {
    width: 30%;
    border: 1px solid grey;
}