<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        הוסף מטבח
      </div>
      <div class="card-body">
          <!-- name , username , password , email , phone. , address , desc , company_price , restaurant_price  -->
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס שם מטבח </label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="name" ngModel required>
            </div>
              <div class="form-group" class="col-lg-6">
                  <label for="formGroupExampleInput">הכנס אימייל </label>
                  <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="email" ngModel required>
              </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס כתובת </label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="address"
                     ngModel required>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס טלפון</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="phone"
                     ngModel required>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הזן שם משתמש</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="username" ngModel required>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס סיסמה</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="password" ngModel required >
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס מחיר חברה</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="company_price"
                     ngModel>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס מחיר מסעדה</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="resturant_price"
                     ngModel>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-12">
              <label for="formGroupExampleInput">פרטים נוספים</label>
              <textarea  rows="4" cols="50"  class="form-control textWhite" id="formGroupExampleInput" name="desc" ngModel required> </textarea>
            </div>
          </div>
          <div class="row">
            <label class="uploader">
              <img [src]="imageSrc"  [class.loaded]="imageLoaded" style="width: 100px;"/>
              <input type="file" name="file" accept="image/*" (change)="handleInputChange($event)">
            </label>
          </div>
          <div class="row" align="left" style="float: left; margin-left: 5px">
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
              <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>