<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

    <div class="col-lg-12 nopadding" style="margin-top: 10px;">
        <div class="row" style="direction: rtl; margin-left:0%;">
            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי מספר טלפון" required (keyup)='updateFilter($event)'>
                </div>
            </div>


            <div class="col-lg-1 nopadding" style="margin-top: 26px;">
                <button (click)="goBackPage()"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >
                    <div class="buttonDivText">
                        <span class="sideButtonTextEmpty">חזרה</span>
                    </div>
                    <div class="buttonDivIcon">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                </button>
            </div>



        </div>

        <ngx-datatable
                [headerHeight]="40"
                [footerHeight]="'false'"
                [rowHeight]="'auto'"
                [scrollbarH]="true"
                [columnMode]="'force'"
                [rows]="ItemsArray">

            <!-- Column Templates -->
            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="270" style="direction: ltr !important; text-align: left !important;" align="left">
                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                    <!-- <button type="button" class="btn btn-info" (click)="openDetailsModal(details, row)">פרטים</button> -->
                    <button type="button" class="btn btn-danger btn-xs" (click)="openDeleteModal(content, rowIndex)">מחק</button>
                    <button type="button" [ngClass]="(row.close_deal=='1')?'btn btn-success btn-xs':'btn btn-warning btn-xs'"
                              (click)="closeDeal(row.id,row.close_deal)">
                        <span *ngIf="row.close_deal == 0" >סגר עסקה</span>
                        <span *ngIf="row.close_deal == 1">עסקה נסגרה</span>
                       </button>

                    <button type="button" class="btn info btn-xs" (click)="saveDetails(row)">שמירה</button>
                </ng-template>
            </ngx-datatable-column>



            <ngx-datatable-column name="הערות"  [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <textarea [ngModel]="row.lead_remarks" class="form-control" dir="rtl" (change)="changeRemarks($event,row)"></textarea>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="סטטוס ליד"  [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <select class="form-control" [ngModel]="row.lead_status" (change)="changeStatus($event,row)">
                        <option value="0">חדש</option>
                        <option value="1">מתעניין</option>
                        <option value="2">סגר</option>
                        <option value="3">לא מעוניין</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ת.מייל"  [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <p *ngIf="row.email_date != '0000-00-00 00:00:00'">{{row.email_date}}</p>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ת.לחיצה"  [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <p *ngIf="row.click_date != '0000-00-00 00:00:00'">{{row.click_date}}</p>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="אישר פרטים"  [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <p *ngIf="row.link_clicked == 1">כן</p>
                    <p *ngIf="row.link_clicked == 0">לא</p>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="פרטים"  [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.info}}</strong>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="אימייל"  [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.email}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="טלפון"  [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.phone}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="שם מלא"  [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.name}}</strong>
                </ng-template>
            </ngx-datatable-column>



        </ngx-datatable>
    </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחק ממליץ</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>


